* {
    font-family: "JetBrains Mono", "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

.modules-left {
  background-color: rgba(26, 27, 38, 0.85);
  border: 2px solid rgba(59, 59, 89, 0.85);
  border-radius: 10px;
  padding: 2px 6px;
  margin-top: 4px;
  margin-left: 8px;
}

.modules-center {
  background-color: rgba(26, 27, 38, 0.85);
  border: 2px solid rgba(59, 59, 89, 0.85);
  border-radius: 10px;
  padding: 2px 6px;
  margin-top: 4px;
}

.modules-right {
  background-color: rgba(26, 27, 38, 0.85);
  border: 2px solid rgba(59, 59, 89, 0.85);
  border-radius: 10px;
  padding: 2px 6px;
  margin-top: 4px;
  margin-right: 8px;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.35);
    font-size: 10px;
    transition: all 0.15s ease-in-out;
}

/* Match your Hyprland active border colors */
#workspaces button.active {
    color: #33ccff;
    font-size: 12px;
}

#workspaces button:hover {
    background: transparent;
    color: #00ff99;
}

#window,
#cpu,
#memory,
#pulseaudio,
#clock,
#tray {
    padding: 0 12px;
    color: #ffffff;
}

/* Subtly separate system module fields */
#cpu { color: #ff9e64; }
#memory { color: #f7768e; }
#pulseaudio { color: #bb9af7; }
#clock { color: #7aa2f7; }
